
.App {
  text-align: center;
  height: 100%;
  font-family: 'Tom\'s New Roman';
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}


.App-header {
  background-color:white;
  align-items: center;
  justify-content: center;
  font-size: 84px;
  color: black;
  margin-bottom: 10px;
}

.not-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.not-link:hover {
  color: black;
}


.menu {
  padding: 10px 0 0 0;
  color: black;
  font-size: 40px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pre-order {
  font-size: 30px;
}

.link {
  color: black;
  text-decoration: none;
  padding: 0 1%;
}

a:hover {
  color: blue;
}

a.focused {
  text-decoration: underline;
}

.image {
  height: 640px;
}

.image-container {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contact-pic {
  width: 400px;

}

.email {
  display: block;
}

.social-media {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.non-fixed-social-media {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bold {
  font-family:'Quicksand';
  font-weight: bold;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.bio {
  width: 70%;
  min-width: 710px;
  font-size: 20px;
  padding: 0 20px;
  font-family: 'Quicksand';
  font-weight: normal;
}

p {
  text-align: left;
}

.contact {
  font-size: 30px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon {
  height: 30px;
  margin: 6px 18px;
}

.instagram {
  height: 46px;
}

.text-arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-bottom: 20px;
}

.text {
  margin: 16px 0 10px 0;
  font-size: 20px;
  text-align: left;
}

.arrow {
  font-size: 40px;
  cursor: pointer;
  margin: 0 14px 0 10px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.container-book {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    width: 80%;
    margin: 0 auto;
}

.photo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.thumbnail-container {
  width: 200px;
  height:200px;
  background-position: center;
  background-repeat: no-repeat;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.pictures {
  width: 90%;
  margin: 0 auto;
}

.thumbnail {
  width: 200px;
}

.lightbox-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .9);
}

.lightbox-image {
  height: 80%;
  opacity: 1;
  margin-top: 40px;
}
.lightbox-image-frog {
  width: 450px;
  opacity: 1;
  margin-top: 40px;
}

.decoration {
  height: 200px;
}

.caption {
  color: white;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}

.lightbox-x {
  color: white;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: sans-serif;
}

.blurb1 {
  margin-top: 20px;
  text-align: justify;
  margin-right: 20px;
}

.blurb2 {
  width: 30%;
  margin-left: 20px;  
}

.bookBlurbs {
  width: 30%;
}

.calendar-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 1330px), (max-device-width: 1330px){
  .image {
    height: 480px;
  }

}

@media screen and (max-width: 1090px), (max-device-width: 1090px) {
  .text-arrow-container {
    width: 40%;
  }

}

@media screen and (max-width: 970px), (max-device-width: 970px) {
  .App-header {
    font-size: 70px;
  }

  .bio {
    min-width: 100%;
  }

  .image {
    height: 380px;
  }

  .image-container {
    height: 380px;
  }

  .book-content {
    flex-direction: column;
    align-items: center;
  }

  .book-image {
    position: relative;
    /* top: -284px; */
  }

  .blurb1 {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .blurb2 {
    display: none;
  }
  .bookBlurbs {
    width: 40%;
    position: relative;
    top: 400px;
  }

}

@media screen and (max-width: 804px), (max-device-width: 804px) {
  .App-header {
    font-size: 60px;
  }

  .menu {
    font-size: 30px;
  }

  .lightbox-image {
    height: 70%;
  }
  .mom {
    width: 60%;
    height: auto;
  }
  .blurb1 {
    margin-right: 0px;
  }
  .bookBlurbs {
    width: 50%;
    position: relative;
    top: 400px;
  }

  .book-image {
    position: relative;
    top: -284px;
  }

}

@media screen and (max-width: 600px), (max-device-width: 600px) {
  .App-header {
    font-size: 40px;
  }

  .icon {
    height: 48px;
    margin: 6px 18px;
  }
  
  .instagram {
    height: 60px;
  }

  .book-image {
    position: relative;
    top: -330px;
  }

  .pre-order {
    font-size: 20px;
  }

 

  .menu {
    font-size: 20px;

  }

  .text-arrow-container {
    width: 60%;
  }

  .bookBlurbs {
    width: 50%;
    position: relative;
    top: 400px;
  }
}

@media screen and (max-width: 440px), (max-device-width: 440px) {

  .App-header {
    font-size: 30px;
  }
  .menu {
    font-size: 14px;

  }

  .text-arrow-container {
    width: 100%;
  }
  .bookBlurbs {
    width: 60%;
    position: relative;
    top: 400;
  }

  .book-image {
    position: relative;
    top: -360px;
  }

  .image {
    width: 280px;
  }
}

@media screen and (max-width: 370px), (max-device-width: 370px) {

  .App-header {
    font-size: 30px;
  }
  .menu {
    font-size: 14px;

  }
  .image {
    width: 280px;
  }

  .text-arrow-container {
    width: 100%;
  }
  .bookBlurbs {
    width: 60%;
    position: relative;
    top: 400px;
  }

  .book-image {
    position: relative;
    top: -380px;
  }
}

@media screen and (max-width: 340px), (max-device-width: 340px) {

  .App-header {
    font-size: 30px;
  }
  .menu {
    font-size: 14px;

  }
  .image {
    width: 280px;
  }

  .text-arrow-container {
    width: 100%;
  }
  .bookBlurbs {
    width: 60%;
    position: relative;
    top: 400px;
  }

  .book-image {
    position: relative;
    top: -410px;
  }
}

@media screen and (max-width: 330px), (max-device-width: 330px) {

  .App-header {
    font-size: 30px;
  }
  .menu {
    font-size: 14px;

  }
  .image {
    width: 280px;
  }

  .text-arrow-container {
    width: 100%;
  }
  .bookBlurbs {
    width: 60%;
    position: relative;
    top: 400px;
  }

  .book-image {
    position: relative;
    top: -434px;
  }
}




@media screen and (max-height: 700px), (max-device-height: 700px) {
  .contact-pic {
    width: 300px;
  }
  .App {
    overflow-y: scroll;
  }
}

@media screen and (max-height: 600px), (max-device-height: 600px)  {
  .App {
    overflow-y: scroll;
  }
}

 